# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Space Wars.iml
# Datasource local storage ignored files
/../../../../../../../:\Proyectos\Unity\Space Wars\.idea\.idea.Space Wars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
