# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Dark Raider.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\Proyectos\Dark Raider\.idea\.idea.Dark Raider\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
